name: Deploy Hugo Site

on:
  issues:
    types: [opened, edited, labeled, unlabeled, deleted]
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install PyGithub

      - name: Run Sync Script
        run: python main.py ${{ secrets.G_T }} ${{ github.repository }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build Site
        run: |
          # 动态拉取主题，防止子模块报错
          mkdir -p themes
          git clone --depth=1 https://github.com/adityatelange/hugo-PaperMod themes/PaperMod
          hugo --minify

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
